html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

button {
    border-radius: 10px;
}

/**
    Controls header
 */

.header-dock {
    margin: 1em 2.5% 0 2.5%;
    display: flex;
    flex-wrap: wrap;
}

.controls,
.stats-dock {
    width: 100%;
}

.control-item {
    display: inline-block;
}

.game-title {
    width: 79%;
}

.control-btn {
    width: 10%;
}

/**
    Stats header
 */

.stats-dock {
    text-align: center;
}

.stats-item {
    display: inline-block;
    margin: 0 1em 0 1em;
}

/**
    Card container
 */

.card-set-name {
    text-decoration: underline;
    text-align: center;
}